.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.container-nav,
.container-nav-border {
    display: flex;
    align-items: center;
}

.container-buttoms {
    display: flex;
    justify-content: center;
}

