/* Герой */

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/Hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero {
    background-color: var(--secondary-background-color);
    justify-content: center;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    color: var(--light-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 30px;
}

.hero-title-position {
    width: 696px;
    display: inline-block;
}

.hero-button-position {
    display: block;
}